<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 col-xl-3">
        <a href="/{{ year }}/">
          <img src="{{ imgs_baseurl }}/logo-white.svg" alt="Rebase" class="footer__logo" />
        </a>
      </div>
      <div class="col-md-3 col-xl-2">
        <h3 class="footer__heading">Conference</h3>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="/{{ year }}/call-for-presentations.html" class="footer__link">Call for Presentations</a>
          </li>
          <li class="footer__links-item">
            <a href="/{{ year }}/sponsorships.html" class="footer__link">Sponsorships</a>
          </li class="footer__links-item">
        </ul>
      </div>
      <div class="col-md-3 col-xl-2">
        <h3 class="footer__heading">Attending</h3>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="/{{ year }}/code-of-conduct.html" class="footer__link">Code of Conduct</a>
          </li class="footer__links-item">
          <li class="footer__links-item">
            <a href="https://example.org/" class="footer__link" target="_blank">Venue</a>
          </li class="footer__links-item">
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-10 col-md-9">
        {% if settings.footer_email %}
        <span class="footer__email-label">Contact:</span>
        <a href="mailto:{{ settings.footer_email }}" class="footer__link">{{ settings.footer_email }}</a>
        {% endif %}
      </div>
      <div class="col-2 col-md-3 col-xl-2">
        {% if settings.footer_twitter %}
        <a href="https://twitter.com/{{ settings.footer_twitter }}"><span class="fab fa-twitter"></span></a>
        {% endif %}
      </div>
    </div>
    <div class="footer__credits">
      Berlin skyline by 
      <a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">freepik - www.freepik.com</a>
    </div>
  </div>
</footer>