<section class="organizers">
  <div class="container">
    <h2 class="organizers__heading">Organizers</h2>
    <div class="organizers__list row">
      <article class="organizers__organizer col-md-6 col-lg-4">
        <div class="box">
          <div class="box__people">
            <div class="box__person">
              <img src="{{ photos_baseurl }}/jan-vitek.jpg" srcset="{{ photos_baseurl }}/jan-vitek@2x.jpg 2x,
                        {{ photos_baseurl }}/jan-vitek.jpg 1x" class="box__person-img" />
              <div class="box__person-info">
                <h3 class="box__person-name"><a href="http://janvitek.org/" target="_blank">Jan Vitek</a></h3>
                <p class="box__person-affiliation">Northeastern University</p>
                <p class="box__person-links">
                  <a href="http://janvitek.org/" target="_blank">
                    <span class="fas fa-globe" aria-hidden="true"></span>
                    WEB
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="organizers__organizer col-md-6 col-lg-4">
        <article class="box">
          <div class="box__people">
            <div class="box__person">
              <img src="{{ photos_baseurl }}/filip-krikava.jpg" srcset="{{ photos_baseurl }}/filip-krikava@2x.jpg 2x,
                        {{ photos_baseurl }}/filip-krikava.jpg 1x" class="box__person-img" />
              <div class="box__person-info">
                <h3 class="box__person-name"><a href="http://fikovnik.net/" target="_blank">Filip Křikava</a></h3>
                <p class="box__person-affiliation">Czech Technical University</p>
                <p class="box__person-links">
                  <a href="http://fikovnik.net/" target="_blank">
                    <span class="fas fa-globe" aria-hidden="true"></span>
                    WEB
                  </a>
                </p>
              </div>
            </div>
          </div>
        </article>
      </article>
    </div>
  </div>
</section>