<section class="sponsors">
    <div class="container">
      <h2 class="sponsors__heading">Our sponsors</h2>
      <h3 class="sponsors__subheading">Gold & Party Sponsor</h3>
      <div class="sponsors__group sponsors__group--gold">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/nextjournal.svg" alt="Nextjournal" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Silver Sponsor</h3>
      <div class="sponsors__group sponsors__group--silver">
        <a href="#" class="sponsors__sponsor sponsors__sponsor--droit">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/droit.png" alt="Droit" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Diversity Sponsor</h3>
      <div class="sponsors__group sponsors__group--diversity">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/permutive.svg" alt="Permutive" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Supporters</h3>
      <div class="sponsors__group sponsors__group--supporters">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/google.svg" alt="Google" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/mozilla.svg" alt="Mozilla" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/oracle.png" alt="Oracle" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/uber.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor sponsors__sponsor--thoughtworks">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/thoughtworks.png" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/msr.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor sponsors__sponsor--feenk">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/feenk.png" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/goldman.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/facebook.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/{{ year }}/img/sponsors/iohk@2x.png" alt="Uber" />
        </a>
      </div>
    </div>
  </section>