<div class="box__text">
  {% if talk.hashtags.size %}
  <p class="box__text-hashtags">
    {% for hashtag in talk.hashtags %}
    <span>#{{ hashtag }}</span>
    {% endfor %}
  </p>
  {% endif %}
  <a href="#{{ talk.title | slugify }}" data-overlay="talk">
    <h3 class="box__text-heading">
      {{ talk.title }}
    </h3>
  </a>
  {% if include.excerpt %}
  <div class="box__text-content">
    {{ talk.excerpt | markdownify }}
  </div>
  {% endif %}
  <p class="box__text-links">
    <a href="#">
      <span class="fab fa-youtube" aria-hidden="true"></span>
      watch
    </a>
    <a href="#abstract" data-overlay="talk">
      <span class="fab fa-readme" aria-hidden="true"></span>
      abstract
    </a>
  </p>
</div>
<div class="box__people">
  {% for speaker in talk.speakers %}
  {% include {{ year }}/person.html person=speaker %}
  {% endfor %}
</div>
<div class="box__talk-info">
  <span class="box__talk-room">
    <span class="far fa-building"></span>
    Room 101
  </span>
  <span class="box__talk-datetime">
    <span class="far fa-clock"></span>
    {{ talk.date }} {{ talk.time }}
  </span>
</div>