<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-12 col-lg-3">
        <a href="/{{ year }}/">
          <img src="{{ imgs_baseurl }}/logo-white.svg" alt="Rebase" class="footer__logo" />
        </a>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
        <h3 class="footer__heading">Conference</h3>
        <ul class="footer__links">
          <!-- <li class="footer__links-item">
               <a href="{{ settings.cfp_form }}" class="footer__link">Want to speak?</a>
               </li> -->
          <li class="footer__links-item">
            <a href="/{{ year }}/sponsorships.html" class="footer__link">Want to sponsor?</a>
          </li class="footer__links-item">
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
        <h3 class="footer__heading">Attending</h3>
        <ul class="footer__links">
          <li class="footer__links-item">
            <a href="/{{ year }}/code-of-conduct.html" class="footer__link">Conduct</a>
          </li class="footer__links-item">
          <!-- <li class="footer__links-item">
               <a href="{{ settings.venue_url }}" class="footer__link" target="_blank">Venue</a>
               </li class="footer__links-item"> -->
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-2">
        <h3 class="footer__heading">Team</h3>
        <ul class="footer__links">
          <li class="footer__links-item">
	    <a href="http://aviral.io/" class="footer__link" target="_blank">Aviral</a>,             <a href="http://janvitek.org/" class="footer__link" target="_blank">Jan</a>,
   <a href="http://fikovnik.net/" class="footer__link" target="_blank">Filip</a>
          </li class="footer__links-item">
        </ul>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-2 col-md-4 col-lg-3 col-xl-2">
        {% if settings.footer_twitter %}
        <a href="https://twitter.com/{{ settings.footer_twitter }}" class="footer__link" ><span class="fab fa-twitter"></span></a>
        {% endif %}
        {% if settings.footer_email %}
        <a href="mailto:{{ settings.footer_email }}" class="footer__link" ><span class="fa fa-envelope"></span></a>
        {% endif %}
      </div>
    </div>
    <div class="footer__credits">
    </div>
  </div>
</footer>
