{% assign settings = site.data["2020"] %}
<!DOCTYPE html>
<html>

<head>
  <title>Rebase 2020!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/2020/img/favicon.png" />

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700&display=swap&subset=latin-ext"
    rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/resources/2020/css/app.css" type="text/css" />

  <!-- Fontawesome icons -->
  <script src="https://kit.fontawesome.com/c6307dd4cb.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151197123-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-151197123-1');
  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
  <script src="{{ site.baseurl }}/resources/2020/js/app.js" defer></script>
</head>

<body>
  <section class="intro">
    <img src="{{ site.baseurl }}/resources/2020/img/logo-white.svg" alt="Rebase" class="intro__logo" />
    <h2 class="intro__subheading">Berlin July 15 - 17<sup>th</sup> 2020</h2>
    {% comment %}
    Displayed now for testing, use Liquid
    comment tags to hide until 2021 :-)
    {% endcomment %}
    <p class="intro__past-editions">
      Past editions:
      <a href="#">2019</a>
      <a href="#">2018</a>
    </p>
    <a href="#talks" class="intro__next"></a>
  </section>
  <div class="overlay overlay--person">
    <section class="overlay__content">
      <article class="box box--large">
        <div class="box__person">
          <img src="https://www.placecage.com/70/70"
            srcset="https://www.fillmurray.com/220/220 2x, https://www.placecage.com/70/70 1x"
            class="box__person-img" />
          <div class="box__person-info">
            <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
            <p class="box__person-affiliation">Toitware</p>
            <p class="box__person-links">
              <a href="#">
                <span class="fa fa-user" aria-hidden="true"></span>
                BIO
              </a>
            </p>
          </div>
        </div>
        <div class="box__text">
          <div class="box__text-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum risus lorem, vel tempus elit
              posuere vitae. Fusce condimentum risus malesuada dolor accumsan, ut placerat augue gravida. Proin sit
              amet rutrum dolor. Etiam eleifend convallis magna.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum risus lorem, vel tempus elit
              posuere vitae. Fusce condimentum risus malesuada dolor accumsan, ut placerat augue gravida. Proin sit
              amet rutrum dolor. Etiam eleifend convallis magna.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum risus lorem, vel tempus elit
              posuere vitae. Fusce condimentum risus malesuada dolor accumsan, ut placerat augue gravida. Proin sit
              amet rutrum dolor. Etiam eleifend convallis magna.
            </p>
          </div>
      </article>
    </section>
  </div>
  <div class="overlay overlay--talk">
    <section class="overlay__content">
      <div class="overlay__content-scroll">
        <article class="box box--large">
          <div class="box__text">
            <p class="box__text-hashtags">
              <span>#talk</span>
              <span>#keynote</span>
              <span>#another-hashtag</span>
            </p>
            <h3 class="box__text-heading">
              The Making of a Secure and Robust IoT Development Platform
            </h3>
            <p class="box__text-links">
              <a href="#">
                <span class="fab fa-youtube" aria-hidden="true"></span>
                watch
              </a>
            </p>
            <div class="box__people box__people--inline">
              <div class="box__person">
                <img src="https://www.placecage.com/70/70"
                  srcset="https://www.fillmurray.com/220/220 2x, https://www.placecage.com/70/70 1x"
                  class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
                  <p class="box__person-affiliation">Toitware</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
              <div class="box__person">
                <img src="https://www.placecage.com/70/70"
                  srcset="https://www.fillmurray.com/220/220 2x, https://www.placecage.com/70/70 1x"
                  class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
                  <p class="box__person-affiliation">Toitware</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="box__talk-info">
              <span class="box__talk-room">
                <span class="far fa-building"></span>
                Room 101
              </span>
              <span class="box__talk-datetime">
                <span class="far fa-clock"></span>
                Mon 17<sup>th</sup> 16:00
              </span>
            </div>
            <div class="box__text-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum risus lorem, vel tempus elit
                posuere vitae. Fusce condimentum risus malesuada dolor accumsan, ut placerat augue gravida. Proin sit
                amet rutrum dolor. Etiam eleifend convallis magna.
              </p>
              <p>
                Quisque maximus faucibus justo, ut finibus diam interdum non. Nunc ut erat luctus, condimentum felis eu,
                efficitur metus. Fusce id turpis ipsum. Donec fringilla turpis eu metus porta tincidunt. Duis vel odio
                imperdiet, pellentesque est eu, accumsan turpis. Vestibulum congue blandit nisi, sit amet auctor leo
                semper vitae. Sed eu enim justo. Phasellus ut pretium turpis, vel posuere massa. Maecenas molestie arcu
                eget tellus semper, eu lobortis lacus dignissim. Vestibulum eu augue molestie, sagittis urna eu, rhoncus
                ipsum. Donec a orci sem. Pellentesque maximus, lacus id aliquet vehicula, tellus orci commodo augue, eu
                condimentum nisl mauris non nisi. Mauris cursus tincidunt egestas. Curabitur dignissim sollicitudin
                hendrerit. Duis id nulla eu nibh interdum mollis ac sit amet est. In lacinia ligula mi, ut convallis
                diam mattis at.
              </p>
              <p>
                Maecenas malesuada, ipsum a aliquam pulvinar, leo mauris ultricies ex, eu ornare ligula erat in tortor.
                Curabitur pretium commodo lacinia. Aliquam faucibus sit amet arcu nec vestibulum. Nulla cursus, urna eu
                gravida mollis, diam tellus sodales lorem, eget vestibulum neque arcu tempor est. Pellentesque quis
                risus ut justo dignissim laoreet. Praesent ac posuere arcu, nec ultricies tortor. Duis varius et urna a
                eleifend. Vivamus sodales posuere ullamcorper. In sit amet maximus erat. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Quisque turpis orci, maximus vehicula orci quis,
                vestibulum iaculis tellus. Mauris porttitor efficitur arcu, in suscipit nisi gravida quis. Praesent
                placerat eu lectus non rutrum.
              </p>
              <p>
                Sed fermentum elementum dui quis suscipit. Duis a odio facilisis, laoreet nisl eu, maximus arcu. Nam sed
                mollis tortor. Fusce efficitur sem feugiat consectetur semper. Duis orci mauris, dictum at dolor id,
                molestie posuere ex. Quisque fermentum non mauris at luctus. Nullam id erat sed turpis accumsan
                sollicitudin. Aliquam malesuada tincidunt libero id fringilla.
              </p>
            </div>
          </div>
      </div>
      </article>
    </section>
  </div>
  <section class="talks" id="talks">
    <div class="container">
      <h2 class="talks__heading">Keynote speakers</h2>
      <div class="talks__list talks__list--keynote-speakers">
        <div class="talks__talk">
          <article class="box box--speaker">
            <div class="box__person">
              <img src="https://www.placecage.com/70/70"
                srcset="https://www.fillmurray.com/220/220 2x, https://www.placecage.com/70/70 1x"
                class="box__person-img" />
              <div class="box__person-info">
                <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
                <p class="box__person-affiliation">Toitware</p>
                <p class="box__person-links">
                  <a href="#">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    BIO
                  </a>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <h2 class="talks__heading">Keynote talks</h2>
      <div class="talks__list talks__list--keynotes">
        {% for i in (1..6) %}
        <div class="talks__talk">
          <article class="box box--large">
            <div class="box__text">
              <p class="box__text-hashtags">
                <span>#talk</span>
                <span>#keynote</span>
                <span>#another-hashtag</span>
              </p>
              <h3 class="box__text-heading">
                The Making of a Secure and Robust IoT Development Platform
              </h3>
              <div class="box__text-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum risus lorem, vel tempus elit
                  posuere vitae. Fusce condimentum risus malesuada dolor accumsan, ut placerat augue gravida. Proin sit
                  amet rutrum dolor. Etiam eleifend convallis magna.
                </p>
              </div>
              <p class="box__text-links">
                <a href="#abstract">
                  <span class="fab fa-readme" aria-hidden="true"></span>
                  abstract
                </a>
                <a href="#">
                  <span class="fab fa-youtube" aria-hidden="true"></span>
                  watch
                </a>
              </p>
            </div>
            <div class="box__people">
              {% assign people = i | modulo: 3 | plus: 1 %}
              {% for j in (1..people) %}
              <div class="box__person">
                <img src="https://www.placecage.com/70/70"
                  srcset="https://www.fillmurray.com/220/220 2x, https://www.placecage.com/70/70 1x"
                  class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
                  <p class="box__person-affiliation">Toitware</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="box__talk-info">
              <span class="box__talk-room">
                <span class="far fa-building"></span>
                Room 101
              </span>
              <span class="box__talk-datetime">
                <span class="far fa-clock"></span>
                Mon 17<sup>th</sup> 16:00
              </span>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
      <h2 class="talks__heading">Presentations</h2>
      <div class="talks__list talks__list--presentations">
        {% for i in (1..24) %}
        <div class="talks__talk">
          <article class="box">
            <div class="box__text">
              <p class="box__text-hashtags">
                <span>#talk</span>
                <span>#another-hashtag</span>
              </p>
              <h3 class="box__text-heading">
                The Making of a Secure and Robust IoT Development Platform
              </h3>
              <p class="box__text-links">
                <a href="#abstract">
                  <span class="fab fa-readme" aria-hidden="true"></span>
                  abstract
                </a>
                <a href="#">
                  <span class="fab fa-youtube" aria-hidden="true"></span>
                  watch
                </a>
              </p>
            </div>
            <div class="box__people">
              {% assign people = i | modulo: 3 | plus: 1 %}
              {% for j in (1..people) %}
              <div class="box__person">
                <img src="https://www.placecage.com/70/70"
                  srcset="https://www.placecage.com/140/140 2x, https://www.placecage.com/70/70 1x"
                  class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Lars Bak</a></h3>
                  <p class="box__person-affiliation">Toitware</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="box__talk-info">
              <span class="box__talk-room">
                <span class="far fa-building"></span>
                Room 101
              </span>
              <span class="box__talk-datetime">
                <span class="far fa-clock"></span>
                Mon 17<sup>th</sup> 16:00
              </span>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="sponsors">
    <div class="container">
      <h2 class="sponsors__heading">Our sponsors</h2>
      <h3 class="sponsors__subheading">Gold & Party Sponsor</h3>
      <div class="sponsors__group sponsors__group--gold">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/nextjournal.svg" alt="Nextjournal" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Silver Sponsor</h3>
      <div class="sponsors__group sponsors__group--silver">
        <a href="#" class="sponsors__sponsor sponsors__sponsor--droit">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/droit.png" alt="Droit" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Diversity Sponsor</h3>
      <div class="sponsors__group sponsors__group--diversity">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/permutive.svg" alt="Permutive" />
        </a>
      </div>
      <h3 class="sponsors__subheading">Supporters</h3>
      <div class="sponsors__group sponsors__group--supporters">
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/google.svg" alt="Google" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/mozilla.svg" alt="Mozilla" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/oracle.png" alt="Oracle" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/uber.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor sponsors__sponsor--thoughtworks">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/thoughtworks.png" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/msr.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor sponsors__sponsor--feenk">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/feenk.png" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/goldman.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/facebook.svg" alt="Uber" />
        </a>
        <a href="#" class="sponsors__sponsor">
          <img src="{{ site.baseurl }}/resources/2020/img/sponsors/iohk@2x.png" alt="Uber" />
        </a>
      </div>
    </div>
  </section>
  <section class="organizers">
    <div class="container">
      <h2 class="organizers__heading">Organizers</h2>
      <div class="organizers__list">
        <article class="organizers__organizer">
          <div class="box">
            <div class="box__people">
              <div class="box__person">
                <img src="{{ site.baseurl }}/resources/2020/img/organizers/jan.png" srcset="{{ site.baseurl }}/resources/2020/img/organizers/jan@2x.png 2x,
                      {{ site.baseurl }}/resources/2020/img/organizers/jan.png 1x" class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Jan Vitek</a></h3>
                  <p class="box__person-affiliation">Northeastern University</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="organizers__organizer">
          <article class="box">
            <div class="box__people">
              <div class="box__person">
                <img src="{{ site.baseurl }}/resources/2020/img/organizers/filip_krikava.png" srcset="{{ site.baseurl }}/resources/2020/img/organizers/filip_krikava@2x.png 2x,
                      {{ site.baseurl }}/resources/2020/img/organizers/filip_krikava.png 1x" class="box__person-img" />
                <div class="box__person-info">
                  <h3 class="box__person-name"><a href="#">Filip Křikava</a></h3>
                  <p class="box__person-affiliation">Czech Technical University</p>
                  <p class="box__person-links">
                    <a href="#">
                      <span class="fa fa-user" aria-hidden="true"></span>
                      BIO
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </article>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 col-xl-3">
          <img src="{{ site.baseurl }}/resources/2020/img/logo-white.svg" alt="Rebase" class="footer__logo" />
        </div>
        <div class="col-md-3 col-xl-2">
          <h3 class="footer__heading">Conference</h3>
          <ul class="footer__links">
            <li class="footer__links-item">
              <a href="#" class="footer__link">Call for Presentations</a>
            </li>
            <li class="footer__links-item">
              <a href="#" class="footer__link">Sponsorships</a>
            </li class="footer__links-item">
          </ul>
        </div>
        <div class="col-md-3 col-xl-2">
          <h3 class="footer__heading">Attending</h3>
          <ul class="footer__links">
            <li class="footer__links-item">
              <a href="#" class="footer__link">Code of Conduct</a>
            </li class="footer__links-item">
            <li class="footer__links-item">
              <a href="https://example.org/" class="footer__link" target="_blank">Venue</a>
            </li class="footer__links-item">
          </ul>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-10 col-md-9">
          <span class="footer__email-label">Contact:</span>
          <a href="mailto:organizers@rebase-conf.org" class="footer__link">organizers@rebase-conf.org</a>
        </div>
        <div class="col-2 col-md-3 col-xl-2">
          <a href="#" class="footer__twitter"></a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>