---
layout: 2020/default
---
{% include 2020/variables.html %}
<section class="intro">
  <img src="{{ imgs_baseurl }}/logo-white.svg" alt="Rebase" class="intro__logo" />
  <h2 class="intro__subheading">{{ settings.city }} {{ settings.conference_dates }}</h2>
  <p class="intro__text">
    An unusual non-profit conference
    connecting business and academia.
  </p>
  <div class="intro__buttons">
    {% if settings.cfp != "hidden" %}
    <span class="intro__button">
      <a href="{{ year }}/call-for-presentations.html" class="button {% if settings.cfp == "inactive" %}button--inactive{% endif %}">
        Call for papers
      </a>
      {% if settings.cfp_date and settings.cfp == "inactive" %}
        <span class="intro__button-date">starting {{ settings.cfp_date }}</span>
      {% endif %}
    </span>
    {% endif %}
    {% if settings.registration != "hidden" %}
    <span class="intro__button">
      <a href="#" class="button {% if settings.registration == "inactive" %}button--inactive{% endif %}">
        Registration
      </a>
      {% if settings.registration_date and settings.registration == "inactive" %}
        <span class="intro__button-date">starting {{ settings.registration_date }}</span>
      {% endif %}
    </span>
    {% endif %}
  </div>
  {% if settings.past_editions.size %}
  <p class="intro__past-editions">
    Past editions:
    {% for edition in settings.past_editions %}
    <a href="{{ site.baseurl }}/{{ edition }}">{{ edition }}</a>
    {% endfor %}
  </p>
  {% endif %}
  <a href="#about" class="intro__next"></a>
</section>
<section class="about" id="about">
  <div class="container">
    <h2 class="about__heading">About Rebase</h2>
    <div class="about__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel sagittis mi. Cras aliquet leo in nisi
        hendrerit maximus. Vivamus placerat bibendum commodo. Quisque in erat tincidunt nisi ultricies egestas.
      </p>
    </div>
  </div>
</section>
<section class="talks">
  <div class="container">
    <h2 class="talks__heading">Keynote speakers</h2>
    <div class="talks__list talks__list--keynote-speakers">
      <div class="talks__talk">
        {% for speaker in settings.keynote_speakers %}
        <article class="box box--speaker">
          {% include {{ year }}/person.html person=speaker bio_link=true %}
        </article>
        {% endfor %}
      </div>
    </div>

    <h2 class="talks__heading">Keynote talks</h2>
    <div class="talks__list talks__list--keynotes">
      {% for talk in settings.keynotes %}
      <div class="talks__talk">
        <article class="box box--large" data-id="{{ talk.title | slugify }}">
          {% include {{ year }}/talk.html excerpt=true %}
        </article>
      </div>
      {% endfor %}
    </div>

    <h2 class="talks__heading">Presentations</h2>
    <div class="talks__list talks__list--presentations">
      {% for talk in settings.presentations %}
      <div class="talks__talk">
        <article class="box" data-id="{{ talk.title | slugify }}">
          {% include {{ year }}/talk.html excerpt=false %}
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include {{ year }}/sponsors.html %}
{% include {{ year }}/organizers.html %}
<div class="overlay overlay--person">
  <section class="overlay__content">
    <article class="box box--large">
      <div class="box__person">
      </div>
      <div class="box__text">
        <div class="box__text-content">
        </div>
    </article>
  </section>
</div>
<div class="overlay overlay--talk">
  <section class="overlay__content">
    <div class="overlay__content-scroll">
      <article class="box box--large box--overlay">
      </article>
    </div>
  </section>
</div>
<script>
  var speakers = {};
  {% for speaker in settings.keynote_speakers %}
  speakers['{{ speaker.id }}'] = {{ speaker.bio | markdownify | jsonify }};
  {% endfor %}
  var talks = {};
  {% assign talks = settings.keynotes | concat: settings.presentations %}
  {% for talk in talks %}
  talks['{{ talk.title | slugify }}'] = {
    abstract: {{ talk.abstract | markdownify | jsonify }},
  speakers: [],
  };
  {% for speaker in talk.speakers %}
  talks['{{ talk.title | slugify }}'].speakers.push({
    name: '{{ speaker.name }}',
    bio: {{ speaker.bio | markdownify | jsonify }},
  });
  {% endfor %}
  {% endfor %}
</script>