.heading1 {
  font-family: $font-family-heading;
  font-size: rem-calc(36px);
  font-weight: 700;
  color: $color-heading;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: (80em / 46);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(46px);
  }
}

.heading2 {
  font-family: $font-family-heading;
  font-size: rem-calc(25px);
  font-weight: 700;
  color: $color-heading;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: (60em / 32);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(32px);
  }
}

.icon-link {
  font-family: $font-family-heading;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-active;

  span {
    margin-right: 5px;
  }
}