---
layout: 2021-ECOOP/default
---
{% include 2021-ECOOP/variables.html %}
{% assign talks = data.talks %}
{% assign featured_speakers = settings.empty_array %}
{% for talk in talks %}
    {% for featured_speaker in settings.featured_speakers %}
        {% assign speaker = talk.speakers | where: "id", featured_speaker %}
        {% assign featured_speakers = featured_speakers | concat: speaker %}
    {% endfor %}
{% endfor %}
<section class="intro">
  <img src="{{ imgs_baseurl }}/logo-white.svg" alt="Rebase" class="intro__logo" />
  <h2 class="intro__subheading">{{ settings.city }} • {{ settings.conference_dates }}</h2>
  <p class="intro__text">
    Discussions on programming language related topics
    connecting industry and academia.
  </p>
  <p class="intro__text">
    <strong>Live streamed on Zoom (no recording), free to all, no need to register!</strong>
  </p>
  <div class="intro__buttons">
    {% if settings.cfp != "hidden" %}
    <span class="intro__button">
      <a href="call-for-presentations.html" class="button {% if settings.cfp != "active" %}button--inactive{% endif %}">
        Call for presentations
      </a>
      {% if settings.cfp_date and settings.cfp == "inactive" %}
      <span class="intro__button-date">starting {{ settings.cfp_date }}</span>
      {% endif %}
    </span>
    {% endif %}
    {% if settings.show_talks %}
    <span class="intro__button">
      <a href="#talks" class="button" rel="smooth-scroll">
        Discussions
      </a>
    </span>
    {% endif %}
    {% if settings.show_about %}
    <span class="intro__button">
      <a href="#about" class="button" rel="smooth-scroll">
        About
      </a>
    </span>
    {% endif %}
    {% if settings.show_zoom %}
    <span class="intro__button">
      <a href="https://aarhusuniversity.zoom.us/my/ecoop.rebase" class="button button--inactive" target="_blank">
        Live stream
      </a>
      <span class="intro__button-date">11am - 11pm CEST on July 11.</span>
    </span>
    {% endif %}
    {% if settings.show_stream %}
    <span class="intro__button">
      <a href="https://aarhusuniversity.zoom.us/my/ecoop.rebase" class="button" target="_blank">
        Live stream
      </a>
    </span>
    {% endif %}
    {% if settings.registration != "hidden" %}
    <span class="intro__button">
      <a href="{{ settings.registration_url }}" class="button {% if settings.registration != "active" %}button--inactive{% endif %}">
        Registration
      </a>
      {% if settings.registration_date and settings.registration == "inactive" %}
      <span class="intro__button-date">{{ settings.registration_date }}</span>
      {% elsif settings.registration == "sold_out" %}
      <span class="intro__button-date">sold out</span>
      {% endif %}
    </span>
    {% endif %}
    {% if settings.show_schedule %}
    <span class="intro__button">
      <a href="https://2021.ecoop.org/program/program-ecoop-2021/?track=REBASE" class="button">
        Schedule
      </a>
      <span class="intro__button-date">on splashcon.org</span>
    </span>
    {% endif %}
  </div>
  {% if settings.past_editions.size %}
  <p class="intro__past-editions">
    Past editions:
    {% for edition in settings.past_editions %}
    <a href="{{ site.baseurl }}/{{ edition }}">{{ edition }}</a>
    {% endfor %}
  </p>
  {% endif %}
  <!-- <a href="#about" class="intro__next" rel="smooth-scroll"></a> -->
</section>
{% if settings.show_stream %}
  {% include {{ year }}/stream.html %}
{% endif %}
{% if settings.show_talks %}
  {% include {{ year }}/talks.html %}
{% endif %}
<section class="about" id="about">
  <div class="container">
    <!-- <h2 class="about__heading">About</h2> -->
    <div class="about__content">
      <!-- TODO can we make the rebase text "ff-market-web",cursive; or something like that? -->
      <p>
        At <strong>Rebase</strong> practitioners engage with academics about tomorrow's technologies while fondly recalling the achievements of yesterday in a series of discussions on various PL-related topics.
      </p>
      <br/>
      <p>
        This year, <strong>Rebase</strong> is planned to occur twice, first virtually
        with the <a href="https://2021.ecoop.org/">ECOOP</a> conference and
        later both virtually and physically in Chicago collocated with the <a href="https://2021.splashcon.org/">SPLASH</a> conference.
      </p>
    </div>
  </div>
</section>
{% if settings.show_sponsors %}
  {% include {{ year }}/sponsors.html %}
{% endif %}
