---
---

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #302e44;
  font-family: "petala-pro",sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

.splash {
  background: url({{ site.baseurl }}/resources/img/2020/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

.comming-in {
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 100pt;
  line-height: 1.1em;
}

.logo {
  margin: 295px auto 20px auto;
  height: 200px;
  width: 600px;
  background: url({{ site.baseurl }}/resources/img/2020/logo-white.svg);
  background-repeat: no-repeat;
  background-size: 600px;
}
