.about {
  @include section;
  background: $color-background;
}

.about__heading {
  @extend .heading1;
  margin-bottom: (40em / 46);
  color: $color-heading;
}

.about__content {
  @include text-content;
  color: $color-paragraph-secondary;
  font-size: 1.15rem;

  strong {
    font-family: $font-family-heading-alternative;
    font-weight: 600;
    font-style: italic;
  }
}

.about__ecoop {
  width: rem-calc(400px);
  max-width: 100%;
  margin: rem-calc(20px) auto;
  display: block;
}
