.about {
  @include section;
  background: $color-background;
}

.about__heading {
  @extend .heading1;
  margin-bottom: (40em / 46);
  color: $color-heading;
}

.about__content {
  @include text-content;
  color: $color-paragraph-secondary;
  font-size: 1.15rem;
}
