.footer {
  background: $color-background;
  padding: rem-calc(50px) 0;
  color: $color-heading;

  @include media-breakpoint-down(md) {
    font-size: rem-calc(14px);
  }
}

.footer__logo {
  width: rem-calc(200px);

  @media (min-width: #{map_get($breakpoints, lg)}) and (max-width: #{map_get($breakpoints, xl) - 1px}) {
    max-width: 80%;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: rem-calc(40px);
  }

  @include media-breakpoint-down(md) {
    width: rem-calc(150px);
  }
}

.footer__heading {
  @include heading;

  color: $color-heading;
  letter-spacing: 0.05em;
  font-size: 20px;
  margin-bottom: rem-calc(15px);

  @include media-breakpoint-up(md) {
    margin-bottom: rem-calc(30px);
    font-size: rem-calc(26px);
  }
}

.footer__links {
  margin-bottom: rem-calc(50px);
}

.footer__links-item {
  margin-bottom: 10px;
}

.footer__link {
  color: $color-active;
}

.footer__email-label {
  display: block;
  margin-bottom: 5px;
}

.footer__twitter {
  color: $color-active;
  font-size: 20px;
}

.footer__credits {
  margin-top: rem-calc(40px);
  text-align: center;
  color: $color-paragraph;

  @include media-breakpoint-up(md) {
    margin-top: rem-calc(60px);
  }
}