.intro {
  height: 100vh;
  background: $color-background url(/resources/2020/img/skyline.svg) center no-repeat;
  background-size: 100vw auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.intro__logo {
  margin-bottom: 10px;
  width: rem-calc(400px);
  max-width: 80%;
}

.intro__subheading {
  @extend .heading2;
  line-height: 1;
  margin-bottom: calc(-1em - 10px - 15px);
}

.intro__next {
  background: url(/resources/common/img/arrow.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 24px;
}
