@mixin section {
  padding-top: rem-calc(80px);
  padding-bottom: rem-calc(100px);

  @include media-breakpoint-up(md)  {
    padding-top: rem-calc(120px);
    padding-bottom: rem-calc(150px);
  }
}

@mixin large-grid {
  display: grid;
  grid-gap: rem-calc(30px);

  @include media-breakpoint-up(lg)  {
    grid-template-columns: 1fr 1fr;
  }
}

@mixin small-grid {
  display: grid;
  grid-gap: rem-calc(20px);

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
