.organizers {
  @include section;
  background: $color-background;
}

.organizers__heading {
  @extend .heading1;
}

.organizers__list {
  margin-bottom: rem-calc(-30px);
}

.organizers__organizer {
  margin-bottom: rem-calc(30px);
}