.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(black, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
}

.overlay--active {
  display: flex;
}

.overlay--person {
  z-index: 1001;
}

.overlay__content {
  width: 100%;
  max-height: 100%;
  color: $color-paragraph;
  overflow: auto;
  position: relative;
  overscroll-behavior: contain;
  -ms-scroll-chaining: none;

  @include media-breakpoint-up(md) {
    max-height: 75%;
    width: 90%;
    max-width: 800px;
  }
}

.overlay__content-scroll {
  height: 100%;
}

.overlay__close {
  position: fixed;
  top: 10px;
  right: 10px;
  background: darken($color: $color-background, $amount: 1.5) url(#{$imgs_baseurl}/close.svg) center no-repeat;
  background-size: 20px;
  width: 40px;
  height: 40px;
}