@mixin heading {
  font-family: $font-family-heading;
  font-weight: 700;
  text-transform: uppercase;
}

.heading1 {
  @include heading;
  line-height: 1.2;
  font-size: rem-calc(36px);
  color: $color-heading;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: (80em / 46);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(46px);
  }
}

.heading2 {
  @include heading;

  font-size: rem-calc(25px);
  color: $color-heading;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: (60em / 32);

  @include media-breakpoint-up(md) {
    font-size: rem-calc(32px);
  }
}

.icon-link {
  @include heading;

  color: $color-active;

  span {
    margin-right: 5px;
  }
}

@mixin formatted-text {
  line-height: 1.5;
  letter-spacing: (0.4em / 16);

  @include media-breakpoint-down(sm) {
    font-size: 12px;
  }

  &:not(:last-child),
  p:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child) {
    margin-bottom: rem-calc(10px);

    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(15px);
    }
  }

  p + ul,
  p + ol {
    margin-top: -5px;
  }

  h2 {
    @include heading;
    font-size: rem-calc(22px);
    margin-top: rem-calc(30px);

    @include media-breakpoint-up(md) {
      font-size: rem-calc(30px);
      margin-top: rem-calc(35px);
    }

    &:first-child {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  h3 {
    @include heading;
    font-size: rem-calc(18px);
    margin-top: rem-calc(20px);

    @include media-breakpoint-up(md) {
      font-size: rem-calc(26px);
      margin-top: rem-calc(25px);
    }

    &:first-child {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: 5px;
    margin-left: 20px;
  }

  a {
    color: $color-active;
  }
}

@mixin text-content {
  @include formatted-text;
  max-width: 800px;
  margin: 0 auto;
}