$font-family-default: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family-heading: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Background colors
$color-background: #004643;
$color-background-dark: darken($color: $color-background, $amount: 5);
// Heading color
$color-heading: #ffffff;
// Text colors
$color-paragraph: #abd1c6;
$color-paragraph-secondary: #ffffff;
$color-active: #f9bc60;
$color-active-secondary: #dd0000;
// Button colors (button background is $color-active)
$color-button-text: #001e1d;

$global-font-size: 16px;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
