$font-family-default: "Open Sans";
$font-family-heading: "Open Sans Condensed";

$color-background: #004643;
$color-background-dark: darken($color: $color-background, $amount: 5);
$color-heading: #ffffff;
$color-paragraph: #abd1c6;
$color-active: #f9bc60;
$color-button-text: #001e1d;

$global-font-size: 16px;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
