{% assign settings = site.data["2020"] %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rebase 2020!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.png" />

    <!-- Bootstrap JS and CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/2020/main.css" type="text/css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151197123-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-151197123-1');
    </script>

  </head>
  <body>
    <div class="splash">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="logo"></div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="comming-in">
            ... in 2020!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
